{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_downloads_heading', page_locale()) %}
{% set pageSubtitle = t('admin_downloads_intro', page_locale()) %}
{% set activeNav = 'downloads' %}

{% block content %}
<div class="flex flex-col gap-6">
    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_downloads_total_label', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--primary">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_downloads_public_label', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.public }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_downloads_hidden_label', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--warning">{{ summary.hidden }}</div>
        </div>
    </div>

    <div class="ng-layout-2col">
        <div class="ng-data-card" id="downloads-table" hx-trigger="downloads-changed from:body" hx-get="/admin/downloads/table" hx-swap="outerHTML">
            {% include 'admin/downloads/_table.html.twig' with { items: items } %}
        </div>
        <div class="ng-data-card" id="download-form" hx-trigger="downloads-changed from:body" hx-get="/admin/downloads/form" hx-swap="outerHTML">
            {% include 'admin/downloads/_form.html.twig' with { form: form } %}
        </div>
    </div>
</div>
{% endblock %}
