{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_plugins_heading', page_locale()) %}
{% set pageSubtitle = t('admin_plugins_intro', page_locale()) %}
{% set activeNav = 'plugins' %}
{% set topbarActions %}
    <button
        class="ui-button ui-button--ghost ui-button--sm"
        hx-get="/admin/plugins/table"
        hx-target="#plugins-table"
        hx-swap="outerHTML"
    >{{ t('refresh', page_locale()) }}</button>
    <button
        class="ui-button ui-button--ghost ui-button--sm"
        hx-post="/admin/plugins/seed"
        hx-target="#plugins-table"
        hx-swap="none"
    >Standard-Plugins hinzufügen</button>
    <a class="ui-button ui-button--ghost ui-button--sm" href="/admin/plugins/import">{{ t('admin_plugins_import_button', page_locale()) }}</a>
    <a class="ui-button ui-button--primary ui-button--sm" href="/admin/plugins/new">{{ t('admin_plugins_create_button', page_locale()) }}</a>
{% endset %}

{% block content %}
<div class="flex flex-col gap-6">

    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_plugins_total_label', page_locale()) }}</div>
            <div class="ng-kpi-box__value">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_plugins_templates_covered', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--primary">{{ summary.game_keys }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_plugins_integrity', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ t('admin_plugins_checksums', page_locale()) }}</div>
        </div>
    </div>

    <div class="ng-data-card">
        <div class="ng-data-card__header">
            <div>
                <h2 class="ng-data-card__title">{{ t('admin_plugins_catalog_entries', page_locale()) }}</h2>
                <p class="ng-data-card__sub">{{ t('admin_plugins_catalog_intro', page_locale()) }}</p>
            </div>
            <div class="ng-data-card__actions">
                <button
                    class="ui-button ui-button--ghost ui-button--sm"
                    hx-get="/admin/plugins/table"
                    hx-target="#plugins-table"
                    hx-swap="outerHTML"
                >{{ t('refresh', page_locale()) }}</button>
            </div>
        </div>
        <div class="ng-data-card__body--flush">
            {% include 'admin/plugins/_table.html.twig' with { plugins: plugins } %}
        </div>
    </div>

</div>
{% endblock %}
