{% set title = title|default('') %}
{% set subtitle = subtitle|default('') %}
{% set actions = actions|default([]) %}
{% set user = current_user() %}
{% set userName = user ? (user.name ?: user.email) : '' %}
{% set userInitial = userName ? userName|slice(0, 1)|upper : 'U' %}
{% set updateStatus = admin_update_status() %}
{% set notificationsHref = user and user.isAdmin ? path('admin_notifications') : path('customer_notifications') %}
{% set unreadCount = unread_notifications() %}

<header class="ng-topbar">
    <div class="ng-topbar__title"></div>
    <div class="ng-topbar__actions">
        {% for action in actions %}
            {% include 'components/_button.html.twig' with action %}
        {% endfor %}
        <a class="ng-icon-button" aria-label="{{ t('notifications', page_locale()) }}" href="{{ notificationsHref }}">
            {% if unreadCount > 0 %}
                <span class="ng-icon-button__dot"></span>
            {% endif %}
            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M10 2a5 5 0 0 0-5 5v2.59l-.7 1.4a1 1 0 0 0 .9 1.44h9.6a1 1 0 0 0 .9-1.44l-.7-1.4V7a5 5 0 0 0-5-5Zm0 16a2 2 0 0 0 2-2H8a2 2 0 0 0 2 2Z"/>
            </svg>
        </a>
        {% if updateStatus and updateStatus.hasUpdates %}
            <a class="ng-update-pill" href="{{ path('admin_updates') }}">
                {{ t('admin_updates_available', page_locale()) }}
                {% if updateStatus.agentUpdates > 0 %}
                    <span class="ng-update-pill__count">{{ updateStatus.agentUpdates }}</span>
                {% endif %}
            </a>
        {% endif %}
        <details class="ng-user-menu">
            <summary class="ng-user-button" aria-label="Benutzerkonto">
                <span class="ng-user-button__avatar">{{ userInitial }}</span>
                <span class="ng-user-button__name">{{ userName }}</span>
            </summary>
            <div class="ng-user-menu__dropdown" role="menu">
                <div class="ng-user-menu__label">Konto</div>
                <a class="ng-user-menu__item" href="{{ path('public_logout') }}" role="menuitem">
                    {{ t('logout', page_locale()) }}
                </a>
            </div>
        </details>
    </div>
</header>
