{% set title = title|default('') %}
{% set subtitle = subtitle|default('') %}
{% set actions = actions|default([]) %}
{% set profile = profile|default(null) %}
{% set user = current_user() %}
{% set userName = user ? (user.name ?: user.email) : '' %}
{% set userInitial = userName ? userName|slice(0, 1)|upper : 'U' %}
{% set profileName = profile ? (profile.name|default(userName)) : userName %}
{% set profileEmail = profile ? (profile.email|default(user ? user.email : '')) : (user ? user.email : '') %}
{% set profileInitial = profile ? (profile.initial|default(userInitial)) : userInitial %}
{% set profileAvatar = profile ? (profile.avatar|default(null)) : null %}
{% set updateStatus = admin_update_status() %}
{% set notificationsHref = user and user.isAdmin ? path('admin_notifications') : path('customer_notifications') %}
{% set unreadCount = unread_notifications() %}
{% set currentLocale = page_locale() %}
{% set requestPath = app.request ? app.request.pathInfo : '' %}
{% set requestQuery = app.request ? app.request.query.all : {} %}
{% set localeQueryDe = requestQuery|merge({'lang': 'de'}) %}
{% set localeQueryEn = requestQuery|merge({'lang': 'en'}) %}
{% set localeHrefDe = requestPath ? requestPath ~ '?' ~ localeQueryDe|url_encode : '?lang=de' %}
{% set localeHrefEn = requestPath ? requestPath ~ '?' ~ localeQueryEn|url_encode : '?lang=en' %}
{% set profileHref = '/profile' %}
{% set securityHref = '/account/security' %}
{% if user and user.type.value in ['admin', 'superadmin'] %}
    {% set profileHref = path('admin_profile') %}
    {% set securityHref = path('admin_profile') %}
{% endif %}

<header class="ng-topbar">
    <div class="ng-topbar__title">
        <button class="ng-icon-button ng-sidebar-toggle" type="button" aria-label="{{ t('admin_nav_dashboard', page_locale()) }}">
            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M3 5.75A.75.75 0 0 1 3.75 5h12.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 5.75Zm0 4.25a.75.75 0 0 1 .75-.75h12.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 10Zm0 4.25a.75.75 0 0 1 .75-.75h12.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 14.25Z"/>
            </svg>
        </button>
        {% if profile %}
            <button class="ng-topbar__profile" type="button" data-user-menu-toggle aria-controls="ng-user-menu">
                {% if profileAvatar %}
                    <img class="ng-topbar__profile-avatar" src="{{ profileAvatar }}" alt="{{ profileName }}">
                {% else %}
                    <div class="ng-topbar__profile-avatar ng-topbar__profile-avatar--initial">
                        {{ profileInitial }}
                    </div>
                {% endif %}
                <div>
                    <div class="ng-topbar__profile-name">{{ profileName }}</div>
                    {% if profileEmail %}
                        <div class="ng-topbar__profile-email">{{ profileEmail }}</div>
                    {% endif %}
                </div>
            </button>
        {% endif %}
        {% if title or subtitle %}
            <div>
                {% if title %}
                    <h1>{{ title }}</h1>
                {% endif %}
                {% if subtitle %}
                    <p>{{ subtitle }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="ng-topbar__actions">
        <div class="ng-language-switcher" role="group" aria-label="{{ t('language', page_locale()) }}">
            <a class="ng-language-switcher__link {{ currentLocale == 'de' ? 'is-active' : '' }}" href="{{ localeHrefDe }}">
                {{ t('language_short_de', page_locale()) }}
            </a>
            <a class="ng-language-switcher__link {{ currentLocale == 'en' ? 'is-active' : '' }}" href="{{ localeHrefEn }}">
                {{ t('language_short_en', page_locale()) }}
            </a>
        </div>
        {% for action in actions %}
            {% include 'components/_button.html.twig' with action %}
        {% endfor %}
        <a class="ng-icon-button" aria-label="{{ t('notifications', page_locale()) }}" href="{{ notificationsHref }}">
            {% if unreadCount > 0 %}
                <span class="ng-icon-button__dot"></span>
            {% endif %}
            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M10 2a5 5 0 0 0-5 5v2.59l-.7 1.4a1 1 0 0 0 .9 1.44h9.6a1 1 0 0 0 .9-1.44l-.7-1.4V7a5 5 0 0 0-5-5Zm0 16a2 2 0 0 0 2-2H8a2 2 0 0 0 2 2Z"/>
            </svg>
        </a>
        {% if updateStatus and updateStatus.hasUpdates %}
            <a class="ng-update-pill" href="{{ path('admin_updates') }}">
                {{ t('admin_updates_available', page_locale()) }}
                {% if updateStatus.agentUpdates > 0 %}
                    <span class="ng-update-pill__count">{{ updateStatus.agentUpdates }}</span>
                {% endif %}
            </a>
        {% endif %}
        <details class="ng-user-menu" id="ng-user-menu" data-user-menu>
            <summary class="ng-user-button" aria-label="{{ t('user_menu_aria', page_locale()) }}">
                <span class="ng-user-button__avatar">{{ userInitial }}</span>
                <span class="ng-user-button__name">{{ userName }}</span>
            </summary>
            <div class="ng-user-menu__dropdown" role="menu">
                <div class="ng-user-menu__label">{{ t('user_menu_account_label', page_locale()) }}</div>
                <a class="ng-user-menu__item" href="{{ profileHref }}" role="menuitem">
                    {{ t('public_user_menu_profile', page_locale()) }}
                </a>
                <a class="ng-user-menu__item" href="{{ path('public_logout') }}" role="menuitem">
                    {{ t('logout', page_locale()) }}
                </a>
            </div>
        </details>
    </div>
</header>
