{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('changelog', page_locale()) %}
{% set pageSubtitle = t('admin_changelog_intro', page_locale()) %}
{% set activeNav = 'changelog' %}

{% block content %}
<div class="flex flex-col gap-6">
    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('total', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--primary">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('public', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.public }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('hidden', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--warning">{{ summary.hidden }}</div>
        </div>
    </div>

    <div class="ng-layout-2col">
        <div class="ng-data-card" id="changelog-table" hx-trigger="changelog-changed from:body" hx-get="/admin/changelog/table" hx-swap="outerHTML">
            {% include 'admin/changelog/_table.html.twig' with { entries: entries } %}
        </div>
        <div class="ng-data-card" id="changelog-form" hx-trigger="changelog-changed from:body" hx-get="/admin/changelog/form" hx-swap="outerHTML">
            {% include 'admin/changelog/_form.html.twig' with { form: form } %}
        </div>
    </div>
</div>
{% endblock %}
