{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('cms_pages_title', page_locale()) %}
{% set pageSubtitle = t('cms_pages_description', page_locale()) %}
{% set activeNav = 'cms-pages' %}
{% set topbarActions %}
    <button
        class="ui-button ui-button--ghost ui-button--sm"
        hx-get="/admin/cms/pages/table"
        hx-target="#cms-pages-table"
        hx-swap="outerHTML"
    >{{ t('refresh', page_locale()) }}</button>
{% endset %}

{% block content %}
<div class="flex flex-col gap-6">

    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('total_pages', page_locale()) }}</div>
            <div class="ng-kpi-box__value">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('published', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.published }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('blocks', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--primary">{{ summary.blocks }}</div>
        </div>
    </div>

    <div class="ng-layout-2col">
        <div class="ng-data-card">
            <div class="ng-data-card__header">
                <div>
                    <h2 class="ng-data-card__title">{{ t('pages_overview', page_locale()) }}</h2>
                    <p class="ng-data-card__sub">{{ t('pages_overview_description', page_locale()) }}</p>
                </div>
                <div class="ng-data-card__actions">
                    <button
                        class="ui-button ui-button--ghost ui-button--sm"
                        hx-get="/admin/cms/pages/table"
                        hx-target="#cms-pages-table"
                        hx-swap="outerHTML"
                    >{{ t('refresh', page_locale()) }}</button>
                </div>
            </div>
            <div class="ng-data-card__body--flush">
                {% include 'admin/cms/pages/_table.html.twig' with { pages: pages } %}
            </div>
        </div>

        <div id="cms-page-form" class="ng-data-card" hx-trigger="cms-pages-changed from:body" hx-get="/admin/cms/pages/form" hx-swap="outerHTML">
            <div class="ng-data-card__body">
                {% include 'admin/cms/pages/_form.html.twig' with { form: form } %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
