{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_docs_title', page_locale()) %}
{% set pageSubtitle = t('admin_docs_intro', page_locale()) %}
{% set activeNav = 'docs' %}

{% block content %}
<div class="flex flex-col gap-6">
    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('total', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--primary">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('public', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.public }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('hidden', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--warning">{{ summary.hidden }}</div>
        </div>
    </div>

    <div class="ng-layout-2col">
        <div class="ng-data-card" id="docs-table" hx-trigger="docs-changed from:body" hx-get="/admin/docs/table" hx-swap="outerHTML">
            {% include 'admin/docs/_table.html.twig' with { articles: articles } %}
        </div>
        <div class="ng-data-card" id="docs-form" hx-trigger="docs-changed from:body" hx-get="/admin/docs/form" hx-swap="outerHTML">
            {% include 'admin/docs/_form.html.twig' with { form: form, categories: categories } %}
        </div>
    </div>
</div>
{% endblock %}
