{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_templates_title', page_locale()) %}
{% set pageSubtitle = t('admin_templates_intro', page_locale()) %}
{% set activeNav = 'templates' %}
{% set topbarActions %}
    <button
        class="ui-button ui-button--ghost ui-button--sm"
        hx-get="/admin/templates/table"
        hx-target="#templates-table"
        hx-swap="outerHTML"
    >{{ t('refresh', page_locale()) }}</button>
    <a class="ui-button ui-button--ghost ui-button--sm" href="/admin/templates/import">{{ t('admin_templates_import_button', page_locale()) }}</a>
    <a class="ui-button ui-button--primary ui-button--sm" href="/admin/templates/new">{{ t('admin_templates_create_button', page_locale()) }}</a>
{% endset %}

{% block content %}
<div class="flex flex-col gap-6">

    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_templates_total', page_locale()) }}</div>
            <div class="ng-kpi-box__value">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_templates_required_ports', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--primary">{{ summary.ports }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_templates_install_commands', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.commands }}</div>
        </div>
    </div>

    <div class="ng-data-card">
        <div class="ng-data-card__header">
            <div>
                <h2 class="ng-data-card__title">{{ t('admin_templates_catalog_title', page_locale()) }}</h2>
                <p class="ng-data-card__sub">{{ t('admin_templates_catalog_intro', page_locale()) }}</p>
            </div>
            <div class="ng-data-card__actions">
                <button
                    class="ui-button ui-button--ghost ui-button--sm"
                    hx-get="/admin/templates/table"
                    hx-target="#templates-table"
                    hx-swap="outerHTML"
                >{{ t('refresh', page_locale()) }}</button>
            </div>
        </div>
        <div class="ng-data-card__body--flush">
            {% include 'admin/templates/_table.html.twig' with { templates: templates } %}
        </div>
    </div>

</div>
{% endblock %}
