{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_mailboxes_title', page_locale()) %}
{% set pageSubtitle = t('admin_mailboxes_intro', page_locale()) %}
{% set activeNav = 'mailboxes' %}
{% set topbarActions %}
    <button
        class="ui-button ui-button--ghost ui-button--sm"
        hx-get="/admin/mailboxes/table"
        hx-target="#mailboxes-table"
        hx-swap="outerHTML"
    >{{ t('refresh', page_locale()) }}</button>
    <button
        class="ui-button ui-button--primary ui-button--sm"
        hx-get="/admin/mailboxes/form"
        hx-target="#mailbox-form"
        hx-swap="outerHTML"
    >{{ t('admin_mailboxes_new', page_locale()) }}</button>
{% endset %}

{% block content %}
<div class="flex flex-col gap-6">

    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_mailboxes_total', page_locale()) }}</div>
            <div class="ng-kpi-box__value">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_status_enabled', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.enabled }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_status_disabled', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--danger">{{ summary.disabled }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">{{ t('admin_mailboxes_quota_total', page_locale()) }}</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--primary">{{ summary.quotaTotal }}</div>
        </div>
    </div>

    <div class="ng-layout-2col">
        <div id="mailbox-form" class="ng-data-card">
            <div class="ng-data-card__body">
                {% include 'admin/mailboxes/_form.html.twig' with { domains: domains, form: form } %}
            </div>
        </div>

        <div id="mailboxes-table" class="ng-data-card"
             hx-get="/admin/mailboxes/table"
             hx-trigger="mailboxes-changed from:body"
             hx-swap="outerHTML">
            <div class="ng-data-card__body--flush">
                {% include 'admin/mailboxes/_table.html.twig' with { mailboxes: mailboxes } %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
